*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
.logo-head img{
    width: 200px;
    border-radius: 150px;
    border: 5px solid transparent;
}
.logo-head h1{
    color: blueviolet;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.nav-list{
    display: flex;
}