*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
.logo-head{
    display: flex;
    align-content: center;
    align-items: center;
}
.logo-head img{
    width: 100px;
    border-radius: 150px;
    border: 5px solid transparent;
}
.logo-head h1{
    color: rgb(39, 3, 72);
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.nav-list ul{
    display: flex;
}
.nav-list ul li{
    padding: 10px;
    list-style-type: none;
    color: darkred;
}
.nav-head{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}